.main {
  width: 90%;
  margin: 10px auto;
  display: grid;
  grid-template-areas:
    "head head"
    "nav cont"
    "foot foot";
  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;
  grid-gap: 10px;
}

.content {
  grid-area: cont;
  background-color: cadetblue;
}

.welcome {
  width: 80%;
  margin: 20px auto 20px auto;
}